/*Màn hình điện thoai*/
@media only screen and (max-width:740px ){
    .col-s-1 {width: 8.33333%;}
    .col-s-2 {width: 16.66667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33333%;}
    .col-s-5 {width: 41.66667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33333%;}
    .col-s-8 {width: 66.66667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33333%;}
    .col-s-11 {width: 91.66667%;}
    .col-s-12 {width: 100%;}

}
/*Màn hinh laptop và máy tính bảng*/
@media only screen and (min-width:741px)and (max-width:1240px){
    .col-m-1 {width: 8.33333%;}
    .col-m-2 {width: 16.66667%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33333%;}
    .col-m-5 {width: 41.66667%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33333%;}
    .col-m-8 {width: 66.66667%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33333%;}
    .col-m-11 {width: 91.66667%;}
    .col-m-12 {width: 100%;}

}
/*Màn hình máy tính pc và tivi smart*/
@media only screen and (min-width:1241px){
    .col-l-1 {width: 8.33333%;}
    .col-l-2 {width: 16.66667%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33333%;}
    .col-l-5 {width: 41.66667%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33333%;}
    .col-l-8 {width: 66.66667%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33333%;}
    .col-l-11 {width: 91.66667%;}
    .col-l-12 {width: 100%;}
}
*{
    margin: 0px;
    box-sizing: border-box;
}
.row{
    /*cho phép thẻ div (col) nổi lên trên*/
    display: flex;
    /*Các thẻ div (col)  không đủ chỗ chứa trên 1 hàng thì rớt xuống*/
    flex-wrap: wrap;
}
.around{
    margin: 10px 20px 10px 20px;
}
.header{

    background-color: #CDCDCD;
    height: 100px;
}
.logo {
     padding-left: 20px;
     height: 100%;
 }
.line{
    margin-top: 5px;
    padding-top: 5px;
    background-color: #CDCDCD;
    height: 30px;
    justify-content: center;
    display: flex;
}
.in-line{
    font-size: 17px;
    position: relative;
    display: inline-block;
}
.text_in-line{
    color: black;
}
.hover:hover{
    color: aliceblue;
}
.text_left{
    color: black;
    font-size: 17px;
    text-align: justify;
}
.left{
    margin-top: 5px;
    background-color: #f1f1f1;
}
.right{
    margin-top: 5px;
    background-color: #f1f1f1;
}
.footer{
    color: black;
    background-color: #CDCDCD;
    text-align: center;
}
body{
    font-family: Arial,sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 10px;
    margin: 0;


}
